<div class="sidebar" [ngClass]="!showMenu ? 'hidden-sidebar' : 'show-sidebar'">

    <div>
        <header>
            <div class="logo">
                <img src="./assets/unilibre.png" alt="logo unilibre" id="logo-login" routerLink="/home">

            </div>
            <div class="title">Control de asistencia</div>
        </header>

        <nav>
            <ul>
                <li class="sidebar-item" *ngFor="let item of items" [routerLink]="[item.link]"
                    routerLinkActive="active">
                    <i [ngClass]="item.class"></i>
                    <span>{{item.title}}</span>
                    <i class="bi bi-chevron-right"></i>
                </li>
            </ul>
        </nav>
    </div>


    <div class="logout" routerLink="/login" (click)="logout()">
        <div class="sidebar-item">
            <i class="bi bi-box-arrow-right"></i>
        <span>Cerrar sesion</span>
        </div>
        

    </div>
</div>
<div class="sidebar-responsive">
    <header>
        <div class="logo">
            <img src="./assets/unilibre.png" alt="logo unilibre" id="logo-login" routerLink="/home">

        </div>
        <div class="title">Control de asistencia</div>
    </header>
    <i class="bi bi-list" (click)="openMenu()"></i>
</div>