.sidebar {
    background-color: white;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    transition: transform 0.3s ease;
}

.sidebar header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
}

.sidebar .logo img {
    width: 80px;
    padding-bottom: 20px;
    cursor: pointer;
}

.sidebar .title {
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .sidebar nav ul li {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #9197B3;
} */

.sidebar-item {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #707683;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    position: relative;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidebar-item i:first-child {
    margin-right: 15px;
}

.sidebar-item i:last-child {
    margin-left: auto;
}

.sidebar-item:hover {
    background-color: #f1f1f1;
    color: #000000;
}

.sidebar-item.active {
    background-color: #EA0029;
    color: #ffffff;
}

.sidebar-item.active i {
    color: #ffffff;
}


.sidebar .logout {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.sidebar .logout:hover {
    background-color: #f1f1f1;
    color: #000000;
}

.sidebar-responsive {
    display: none;
}

.sidebar-responsive>i {
    font-size: 30px;
}


@media screen and (max-width: 720px) {
    .sidebar {
        position: absolute;
        z-index: 100;
        transition: all 600ms;
    }

    .sidebar-responsive {
        display: flex;
        background-color: white;
        height: 70px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 20px;
    }

    .logo>img {
        width: 50px;

        cursor: pointer;
        padding: 0px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .hidden-sidebar {
        transform: translate(-250px);
    }

    .show-sidebar {
        transform: translate(0px);
    }
}