.modalc{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px;
    background:rgba(0,0,0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: autoz;
    z-index: 9999999;
    
    

}
.modalc .modal-container{
    width: 100%;
    max-width: 500px;
    
    
}
i{
    font-size: 30px;
    position: absolute;
    right: 27px;
    top: 12px;

}
.modalc .modal-container .modal-header{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 32px;
    background-color: #ffff;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.modalc .modal-header .modal-title{

    font-size: 18px;
    font-weight: bold;
    color: #2E3B4C;
    text-align: center;


}
.modalc .modal-body{
    display: flex;
    justify-content: center;
    padding: 2px 20px;
    background: #ffff;
   
    font-size: 15px;
    color: #334D6E;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}

.modalc .modal-footer{
    display: flex;
    justify-content: space-around;
    padding: 5px 18px 20px;
    background: #ffff;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
    color: #000;
    flex-direction: row-reverse;
    padding: 25px;
}


.primary{
    width: 190px;
    padding: 10px;
    
    border-radius: 20px;
    font-size: 14px;
    justify-content:flex-end
}
.form-check{
    margin-top: 20px;
}

.loading{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table th td{
    text-align: center;
}

.modalc .modal-body .sub-title{
    font-size: 17px;
    font-weight: 700;

}

.modalc .modal-body .student{
    margin-top: 60px;
}
