<p-toast></p-toast>

<div class="card-register">
    <h4>Información del estudiante</h4>
    <hr>

    <form [formGroup]="form" class="p-4" (submit)="registerStudent()">

        <div class="input-group mb-3 info-space-between">
            <div class="date-expanded">
                <label for="CC" class="form-label">Cedula*</label>
                <input type="number" class="form-control" name="CC" id="CC" formControlName="dni"
                    [class]="isControlInvalid('dni') ? 'is-invalid' :''">

                @if (isControlInvalid('dni')) {
                <div class="invalid-feedback">
                    El documento de identidad es requerido.
                </div>
                }
            </div>

            <div class="date-expanded">
                <label for="student_code" class="form-label">Codigo de carnet*</label>
                <input type="number" class="form-control" name="student_code" id="student_code"
                    formControlName="student_code" [class]="isControlInvalid('student_code') ? 'is-invalid' :''">

                @if (isControlInvalid('student_code')) {
                <div class="invalid-feedback">
                    El codigo del carnet es requerido.
                </div>
                }
            </div>
        </div>

        <div class="mb-3">

            <label for="name" class="form-label">Nombre*</label>
            <input type="text" class="form-control" name="name" id="name" formControlName="name"
                [class]="isControlInvalid('name') ? 'is-invalid' :''">

            @if (isControlInvalid('name')) {
            <div class="invalid-feedback">
                El nombre es requerido.
            </div>
            }
        </div>

        <div class="mb-3">

            <label for="surnames" class="form-label">Apellidos*</label>
            <input type="text" class="form-control" name="surnames" id="surnames" formControlName="surnames"
                [class]="isControlInvalid('surnames') ? 'is-invalid' :''">

            @if (isControlInvalid('surnames')) {
            <div class="invalid-feedback">
                Los apellidos son requerido.
            </div>
            }
        </div>

        <div class="mb-3">
            <label for="academic_program" class="form-label">Programa academico*</label>
            <ng-select name="academic_program" id="academic_program" formControlName="academic_program"
                [class]="isControlInvalid('academic_program') ? 'is-invalid' :''">
                @for (item of appService.academic_programs; track $index) {
                <ng-option [value]="item._id">{{item.name}}</ng-option>
                }

            </ng-select>

            @if (isControlInvalid('academic_program')) {
            <div class="invalid-feedback">
                El programa academico es requerido.
            </div>
            }

        </div>

        <div class="mb-3">

            <label for="phone" class="form-label">Telefono*</label>
            <input type="number" class="form-control" name="phone" id="phone" formControlName="phone"
                [class]="isControlInvalid('phone') ? 'is-invalid' :''">

            @if (isControlInvalid('phone')) {
            <div class="invalid-feedback">
                El telefono es requerido.
            </div>
            }
        </div>

        <div class="mb-3">

            <label for="email" class="form-label">Correo electronico*</label>
            <input type="email" class="form-control" name="email" id="email" formControlName="email"
                [class]="isControlInvalid('email') ? 'is-invalid' :''">

            @if (isControlInvalid('email')) {
            <div class="invalid-feedback">
                El correo electronico es requerido.
            </div>
            }
        </div>

        <div *ngIf="message">
            <div [ngClass]="message.status?'alert alert-primary':'alert alert-danger'">
                {{message.text}}
            </div>
        </div>

        <div class="button-wrapper">

            <button class="button" type="submit" [disabled]="loading">

                <div *ngIf="loading" class="spinner-border" role="status"></div>
                <span *ngIf="!loading">{{student_id==''? 'Registrar':'Actualizar'+ ' estudiante'}}</span>
            </button>
        </div>
    </form>
</div>