<p-toast></p-toast>
<modal-assistance [hidden]="!showModalAssistance" 
[data]="modalAssistanceData"
(closeModalEvent)="closeModalAssistance($event)"></modal-assistance>

<div class="container">
    <h1>{{homeCoursesService.selectedCourse.name}}</h1>
    <div class="content-table">
        <div class="content-filter card-filter">
            <button class="button-outline" (click)="downloadExcel()" >Descargar Reporte</button>
            <div class="filter-assistance ">

                <label class="form-label">FECHA:</label>
                <!-- <input type="date" class="form-control" id="filter" (input)="getAsistanceByDate()" [(ngModel)]="date"> -->
                <!-- <app-date-filter [validDays]="[1, 3, 5]" (dateSelected)="onDateSelected($event)"></app-date-filter>  -->
                <app-date-picker
                    [validDays]="datesAvailable"
                    [date]="date"
                    (dateSelected)="onDateSelected($event)"
                ></app-date-picker>

            </div>
        </div>
        <app-table-assistance
            [data]="data"
            [titles]="titles"
            (actionItem)="takeAssist($event)"
            (selectStudentEvent)="showAssistanceForStudent($event)"
        ></app-table-assistance>
    </div>
</div>


<!-- <modal-dialog 
[hidden]="!showModal" [modal_type]="modal_type" [buttons]="modal_buttons"
(button1Event)="deleteProperty()" (button2Event)="cancel()"></modal-dialog> -->