.content-filter{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.filter-assistance{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.filter-assistance label{
    margin: 0px;
    margin-right: 10px;
}

.form-control{
    height: 34px;
}

.container h1{
    text-align: center;

}

@media  screen and (max-width: 720px) {
    .container-page{
        display: flex;
        flex-direction: column;
      }
    .main{
        width: 90%;
        padding-left: 30px ;
    }
    .width-subject{
        width: 100%;
    }
}

@media  screen and (max-width: 700px) {
    .filter-assistance{
        width: 200px;
    }
    .container{
        margin-right: 0px;
        margin-left: 0px;
        width: 100% !important;
        max-width: 100% !important;
        padding-bottom: 20px !important;
    }
    .filter-assistance{
        margin-right: 20px;
    }
}