
<table class="table table-student table-hover">
    <thead>
        <tr >
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Programa</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th >Estado</th>
    
        </tr>
    </thead>
    <tbody>
        <tr >
            <th>125777</th>
            <td>Alberto Soto Perez</td>
            <td>Ingenieria de sistemas</td>
            <td>22/10/2022</td>
            <td>08:00 PM</td>
            <td class="assist">Asistio</td>
        </tr>
        <tr>
            <th>125777</th>
            <td>Alberto Soto Perez</td>
            <td>Ingenieria de sistemas</td>
            <td>22/10/2022</td>
            <td>08:00 PM</td>
            <td>Asistio</td>
        </tr>
        <tr>
            <th>125777</th>
            <td>Alberto Soto Perez</td>
            <td>Ingenieria de sistemas</td>
            <td>22/10/2022</td>
            <td>08:00 PM</td>
            <td>Asistio</td>
        </tr>
        <tr>
            <th>125777</th>
            <td>Alberto Soto Perez</td>
            <td>Ingenieria de sistemas</td>
            <td>22/10/2022</td>
            <td>08:00 PM</td>
            <td>Asistio</td>
        </tr>
        <tr>
            <th>125777</th>
            <td>Alberto Soto Perez</td>
            <td>Ingenieria de sistemas</td>
            <td>22/10/2022</td>
            <td>08:00 PM</td>
            <td>Asistio</td>
        </tr>
        <tr>
            <th>125777</th>
            <td>Alberto Soto Perez</td>
            <td>Ingenieria de sistemas</td>
            <td>22/10/2022</td>
            <td>08:00 PM</td>
            <td>Asistio</td>
        </tr>
    </tbody>
    
</table>
