
<table class="table table-student table-hover">
    <thead>
        <tr >
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Programa</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th >Estado</th>
    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of appService.student_assitance" >
            <th>{{student.DNI}}</th>
            <td>{{student.name}}</td>
            <td>Ingenieria de sistemas</td>
            <td>22/10/2022</td>
            <td>08:00 PM</td>
            <td><i class="bi bi-hand-thumbs-up-fill"></i></td>
        </tr>
        
    </tbody>
    
</table>
