
<table class="table table-student table-hover">
    <thead>
        <tr >
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Programa</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th >Estado</th>
    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of appService.student_assitance" >
            <th>{{student.DNI}}</th>
            <td>{{student.name}}</td>
            <td>Ingenieria de sistemas</td>
            <td>{{fecha_actual}}</td>
            <td>{{hora_actual}}</td>
            <td >
                <i (click)="takeAttendance(student)" class="bi" [ngClass]="student.estado?'bi-hand-thumbs-up-fill':'bi-hand-thumbs-down-fill'"></i>
            </td>
        </tr>
        
    </tbody>
    
</table>
