.main{
    width: 100% !important;
}

.table-grid{
    display: flex;
    justify-content: space-between;
}

.table-grid table {
    border-collapse: collapse;
    width: 45%; /* Ajusta el ancho de las tablas */
    margin: 10px;
  }

.content-filter{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
   
    margin-bottom: 20px;
    align-items: center;
    width: 80%;
}
.filter{
    width: 60%;
}

.form-control{
    height: 34px;
}
@media  screen and (max-width: 720px) {
    .container-page{
        display: flex;
        flex-direction: column;
      }
      .main{
        width: 90%;
        padding-left: 30px ;


    }
    .width-student{
        width: 100%;
    }
}


/*=====TABLE =====*/
.form-control{
    height: 34px;
}

.table{
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    display: table;
}

th{
    color:#334D6E;
    font-weight: 600;
    font-size: 14px;
}
tr{
    height: 50px;
   
   
}
td{
    color: #707683;
    font-size: 14px;
}
td i{
    display: block;
   
    font-size: 20px;
    text-align: center;
}
.bi-hand-thumbs-up-fill{
    color: #4cc764;
}
.bi-hand-thumbs-down-fill{
    color: red;
}


@media  screen and (max-width: 720px) {
    .table{
        width: 50%;
        overflow-x: scroll;
    }
}