<div  class="modalc" >
    <div class="modal-container">
        <div class="modal-header">
            <i class="bi bi-check-circle-fill"></i>
            <h4 class="modal-title">Seleccione una opcion</h4>
        </div>
        <div class="modal-body">
            <p>Seleccione el proceso que desea realizar.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger primary" type="submit">Ver asistencias</button>
            <button class="btn btn-outline-danger primary" type="submit">Agregar asistencia</button>
        </div>

    </div>
</div>
  
