<div class="card-global ">
    <h4>Asignar curso</h4>
    <hr>
    <form [formGroup]="form" class="p-4" (submit)="enroll()" >
        
        <div class="date-expanded">
            <label for="CC" class="form-label">Cedula del estudiante*</label>
            <input type="number" class="form-control" name="CC" id="CC" formControlName="DNI_student">
        </div>

        <div class="mb-3">
            <label type="teacher" class="form-label">Curso</label>
            <select name="teacher" class="form-select" id="teacher" formControlName="course_id">
                <option [value]="course.course_id" *ngFor="let course of appService.courses" >{{course.name}}</option>
                
            </select>
        </div>
        

        <div *ngIf="message" >
            <div [ngClass]="message.status?'alert alert-primary':'alert alert-danger'">
                {{message.text}}
            </div>
            
        </div>

        <div class="button-wrapper">
            <button class="button" type="submit" >
                <div *ngIf="loading" class="spinner-border" role="status"></div>    
                <span *ngIf="!loading">Matricular Estudiante</span> 
                
            </button>
        </div>
    </form>


</div>
