
.date-space-between{
    display: flex;
    justify-content: space-between;
}
.date-expanded{
    width: 47%;
    
   
    
}
.card-global h4{
    margin-left: 25px;
    padding: 20px 0px 0px 0px ;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgb(25, 42, 62);
    text-align: left;
}