

<div class="d-flex container-page">
    
    <app-sidebar></app-sidebar>
    <div class="main">
        <h1>Ingenieria web avanzada</h1>
        <div class="content-filter card-global">
            <div class="filter ">
                
                <label class="form-label">Ingrese el nombre*</label>
                <input type="text" class="form-control" id="filter" >
            </div>
            <button class="button">Enviar</button>

        </div>
        <!-- <app-register-student class="width-student"></app-register-student> -->
       <app-student-table></app-student-table>
        
    </div>
</div>