

<div class="modalc">
    <div class="modal-container">
        <div class="modal-header">

            <h4 class="modal-title">Cambiar contraseña</h4>
        </div>
        <div class="modal-body">
            <p>La contraseña debe tener al menos 6 caracteres e incluir una combinación de números, letras y caracteres
                especiales (!$%).</p>

            <form [formGroup]="form" class="p-4">


                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña actual*</label>
                    <input type="password" class="form-control" name="password" id="password" formControlName="password"
                        [class]="isControlInvalid('password') ? 'is-invalid' :''">

                    @if (isControlInvalid('password')) {
                    <div class="invalid-feedback">
                        La contraseña actual es requerida.
                    </div>
                    }
                </div>

                <div class="mb-3">
                    <label for="new_password" class="form-label">Nueva contraseña*</label>
                    <input type="password" class="form-control" name="new_password" id="new_password"
                        formControlName="new_password" [class]="isControlInvalid('new_password') ? 'is-invalid' :''">

                    @if (isControlInvalid('new_password')) {
                    <div class="invalid-feedback">
                        La nueva contraseña es requerida.
                    </div>
                    }
                </div>

                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmar contraseña*</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                        formControlName="confirm_password"
                        [class]="isControlInvalid('confirm_password') ? 'is-invalid' :''">

                    @if (isControlInvalid('confirmconfirm_passwordPassword')) {
                    <div class="invalid-feedback">
                        La confirmacion de la contraseña es requerida.
                    </div>
                    }
                </div>

            </form>
            <div *ngIf="message">
                <div [ngClass]="message.status?'alert alert-primary':'alert alert-danger'">
                    {{message.text}}
                </div>
            </div>
        </div>

        <div class="modal-footer">

            <button class="button" type="submit" (click)="updatePassword()">
                <div *ngIf="loading" class="spinner-border" role="status"></div>
                <span *ngIf="!loading">Enviar</span>
                
            </button>
            <button class="btn btn-outline-danger primary" (click)="cancel()">
                Cancelar
            </button>

        </div>

    </div>
</div>