<div class="content-table-teachers">
        <div class="content-filter card-global">
            <div class="filter ">
                
                <label class="form-label">Ingrese el nombre*</label>
                <input type="text" class="form-control" id="filter" >
            </div>
            <button class="button" [routerLink]="['create']" >Registrar profesor</button>

        </div>
        <table class="table table-teacher table-hover">
            <thead>
                <tr >
                    <th>Documento de identidad</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Accion</th>
            
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teacherService.teachers" [routerLink]="[teacher._id]" >
                    <td>{{teacher.dni}}</td>
                    <td>{{teacher.name}}</td>
                    <td>{{teacher.phone}}</td>
                    <td>{{teacher.email}}</td>
                    <td>
                        <i class="bi bi-trash"></i>

                    </td>
                    
                </tr>
                
            </tbody>
            
        </table>
    </div>
