<p-toast></p-toast>



<div class="content-table-teachers">
    <div class="content-filter card-global">
        <div class="filter ">
            <label class="form-label">Ingrese el nombre*</label>
            <input type="text" class="form-control" id="filter" (input)="filterData()" [(ngModel)]="searchText">
        </div>
        <button class="button" [routerLink]="['create']">Registrar profesor</button>

    </div>
    <app-table [data]="data" [titles]="titles" (deleteItem)="deleteConfirmProperty($event)"></app-table>

</div>

<modal-dialog 
[hidden]="!showModal" [modal_type]="modal_type" [buttons]="modal_buttons"
(button1Event)="deleteProperty()" (button2Event)="cancel()"></modal-dialog>