<div *ngIf="this.loginService.modal">
    <app-modal-expired (closeModalEvent)="showModal()"></app-modal-expired>
</div>

<div class="d-flex justify-content-center display align-items-center ">
    <div class="bg-white login  container">
        <div class="row">
            <img src="./assets/unilibre.png" alt="logo unilibre" id="logo-login">

        </div>
        <div class="row">
            <p class="d-flex  hello-hand">Bienvenido </p>
        </div>
        <form #gfgform="ngForm" class="form-login">
            <div class="input2-css d-flex flex-column">
                <label class="label-css">Email</label>
                <input class="input-css" type="text" placeholder="Ingresa tu correo" name='cc' [(ngModel)]="dni">
            </div>
            <div class="input2-css d-flex flex-column">
                <label class="label-css">Contraseña</label>
                <input class="input-css" type="password" placeholder="Ingresa tu contraseña" name='contraseña' [(ngModel)]="password">
            </div>
            <div  *ngIf="message.text!=''" >
                <div class="alert-error">
                    {{message.text}}
                </div>
                
            </div>
            <button class="button-login" (click)="login()" [disabled]="loading">
                <div *ngIf="loading" class="spinner-border" role="status"></div>    
                <span *ngIf="!loading"> Ingresar</span> 
            </button>
        </form>

    </div>

</div>