<p-toast></p-toast>

<div class="content-table">
    <div class="content-filter card-filter">
        <div class="filter ">
            
            <label class="form-label">Ingrese el nombre del curso*</label>
            <input type="text" class="form-control" id="filter" >
        </div>
        <button class="button" [routerLink]="['create']" >Crear curso</button>

    </div>
    <app-table [data]="data" [titles]="titles" [metadata]="coursesService.courses.metadata" 
    (deleteItem)="deleteConfirmProperty($event)" (paginationItem)="getMoreCourse($event)"></app-table>
</div>
<modal-dialog 
[hidden]="!showModal" [modal_type]="modal_type" [buttons]="modal_buttons"
(button1Event)="deleteProperty()" (button2Event)="cancel()"></modal-dialog>