.content-filter{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    width: 95%;
    margin-bottom: 20px;
    align-items: center;
}
.filter{
    width: 60%;
}

.form-control{
    height: 34px;
}
@media  screen and (max-width: 720px) {
    .container-page{
        display: flex;
        flex-direction: column;
      }
    .main{
        width: 90%;
        padding-left: 30px ;
    }
    .width-subject{
        width: 100%;
    }
}