
.main{
    height: 100vh;
    width: 80%;
    display: flex;
    padding-left: 60px ;
    flex-direction: column;
}
.main h1{
 padding: 30px 0px 30px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    line-height: 125%;
}
.width-student{
    width: 60%;
}
.wrap-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    overflow-y: scroll;
}

@media  screen and (max-width: 720px) {
    .container-page{
        display: flex;
        flex-direction: column;
      }
    .main{
        width: 90%;
        padding-left: 30px ;
    }
    .width-subject{
        width: 100%;
    }
}