<div class="card-global">
    <h4>Información del profesor</h4>
    <hr>
    <form [formGroup]="form" class="p-4" (submit)="registerTeacher()">
        <div class="input-group mb-3 info-space-between">
            <div class="date-expanded">
                <label for="CC" class="form-label">Cedula*</label>
                <input type="number" class="form-control" name="CC" id="CC" formControlName="dni">
            </div>

            <!-- <div class="date-expanded">
                <label for="card-code" class="form-label">Codigo de carnet*</label>
                <input type="number" class="form-control" name="card-code" id="card-code">

            </div> -->

        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre*</label>
            <input type="text" class="form-control" name="name" id="name" formControlName="name">

        </div>

        <div class="mb-3">
            <label for="surnames" class="form-label">Apellidos*</label>
            <input type="text" class="form-control" name="surnames" id="surnames" formControlName="surnames">

        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Telefono*</label>
            <input type="number" class="form-control" name="phone" id="phone" formControlName="phone">

        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Correo electronico*</label>
            <input type="email" class="form-control" name="email" id="email" formControlName="email">

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña*</label>
            <input type="password" class="form-control" name="password" id="password" formControlName="password">

        </div>
        <div *ngIf="message" >
            <div [ngClass]="message.status?'alert alert-primary':'alert alert-danger'">
                {{message.text}}
            </div>
            
        </div>
        <div class="button-wrapper">
            <button class="button" type="submit" [disabled]="loading">
                <div *ngIf="loading" class="spinner-border" role="status"></div>    
                <span *ngIf="!loading">Registrar profesor</span> 
                
            </button>
        </div>
    </form>
</div>