<div class="sidebar">

    <div>
        <header>
            <div class="logo">
                <img src="./assets/unilibre.png" alt="logo unilibre" id="logo-login" routerLink="/home">
    
            </div>
            <div class="title">Control de asistencia</div>
        </header>
    
        <nav>
            <ul>
                
                <app-sidebar-item *ngFor="let item of items" [classIcono]="item.class" [title]="item.title"  [routerLink]="['/', item.link]"  routerLinkActive="item-active"></app-sidebar-item>
            </ul>
        </nav>
    </div>


    <div class="logout">
        <i class="bi bi-box-arrow-right"></i>
        <p>Cerrar sesion</p>
        
    </div>
</div>