

<p-toast></p-toast>

<modal-dialog-update-password [hidden]="!showModalupdatePassword" (closeModalEvent)="closeModal($event)"></modal-dialog-update-password>

<div class="d-flex container-page">
    
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="nav-back">
            <button (click)="goBack()" [ngClass]="{'invisible': !canBack()}">
                <i class="bi bi-arrow-left"></i>
                <span>Volver</span>
            </button>

        

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear"></i>
                    
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" (click)="updatePassword()">Cambiar contraseña</a></li>
                    
                </ul>
            </div>

        </div>
        <router-outlet></router-outlet>
    </div>
    
</div>

