<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let title of titles">{{ title }}</th>
      <th>Asistencia</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data" (click)="selectStudent(record)">
      <ng-container *ngFor="let property of getObjectKeys(record)">
        <td *ngIf="property !== 'assist'">
          {{ record[property] }}
        </td>
      </ng-container>

      <td

        [ngClass]="{
                'text-success': record['assist'] === 'done',
                'text-danger': record['assist'] === 'no',
                'text-warning': record['assist'] === 'late'
                }"
        (click)="actionClick(record)"
      >
          <i
            [ngClass]="record['assist'] === 'no'
                ? 'bi bi-x-circle'
                : record['assist'] === 'late'
                  ? 'bi bi-check-circle'
                  : 'bi bi-check-circle'"
          >
          </i>
      </td>
    </tr>

  </tbody>
</table>

