@import "~bootstrap-icons/font/bootstrap-icons.css";
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Oswald;
    src: url(assets/fonts/Oswald/Oswald-Regular.ttf) format("opentype");
  }

  @font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("opentype");
  }


.background-application{
    background-color: #F5F6F8;
}
*{
    scroll-behavior: smooth;
    font-family: " Source Sans Pro", sans-serif;
    outline: none !important;
}

.card-global{
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.divider{
    color: gray;
    height: 5px;
}
.w-100{
    width: 100%;
}

.primary{
    
    border-radius: 20px;
    font-size: 14px;
    justify-content:flex-end
}
.button{
    cursor: pointer;
    height: 44px;
    width: 215px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background: rgb(234, 0, 41);
    border: 1px solid rgb(234, 0, 41);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    border-radius: 30px;
}
.button-disable{
    background: rgba(234, 0, 43, 0.514) !important;
}
.button-wrapper{
    display: flex;
    justify-content: flex-end;
}
label{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
    color: rgb(37, 42, 49);
}


@media  screen and (max-width: 720px) {
    .container-page{
        display: flex;
        flex-direction: column;
      }
    .main{
        width: 90%;
    }
    .width-subject{
        width: 100%;
    }
}
.main{
    height: 100vh;
    width: 80%;
    display: flex;
    padding-left: 60px ;
    flex-direction: column;
}
.main h1{
 padding: 30px 0px 30px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    line-height: 125%;
}

.alert{
    padding: 0px;
    margin: 0 0 4px;
}
.alert-error{
    color: #DC4040;
   font-size: 14px;
}
.alert-success{
    color: #3AA337;
   font-size: 14px;
}