@import "~bootstrap-icons/font/bootstrap-icons.css";
/* You can add global styles to this file, and also import other style files */
.background-application{
    background-color: #F5F6F8;
}
*{
    scroll-behavior: smooth;
    font-family: "Source Sans Pro", sans-serif;
    outline: none !important;
}

.card-global{
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.divider{
    color: gray;
    height: 5px;
}

.primary{
    
    border-radius: 20px;
    font-size: 14px;
    justify-content:flex-end
}