
<div class="d-flex container-page">
    
    <app-sidebar></app-sidebar>
    <div class="main">
        <h1>Ingenieria web avanzada</h1>
        <div class="content-filter card-global">
            
            <!-- <button class="button">Descargar reporte</button> -->

            <div class="filter">
                <label for="date" class="form-label">Fecha:</label>
                <input type="date" class="form-control" name="date" id="date" (change)="searchAssitance($event)">
                
            </div>

        </div>
        <!-- <app-register-student class="width-student"></app-register-student> -->
       <app-student-table></app-student-table>
        
    </div>
</div>