.content-filter{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
   
    margin-bottom: 20px;
    align-items: center;
    width: 80%;
}
.filter{
    width: 60%;
}

.form-control{
    height: 34px;
}