.form-control{
    height: 34px;
}

.table{
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    display: table;
    margin-bottom: 0px;
}
.text-center {
    text-align: center;
  }
  
th{
    color:#334D6E;
    font-weight: 600;
    font-size: 14px;
}
tr{
    height: 50px;
   
   
}
td{
    color: #707683;
    font-size: 14px;
}
td i{
    display: block;
   
    font-size: 20px;
    text-align: center;
}
.bi-hand-thumbs-up-fill{
    color: #4cc764;
}
.bi-hand-thumbs-down-fill{
    color: red;
}



.table-pagination{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.table-pagination span{
    color: #707683;
    font-size: 14px;
}

.table-pagination nav ul{
    margin: 0px;
}

.custom-page-link{
    color: #707683;
}

.custom-active .page-link {
    background-color: rgb(234, 0, 41);
    border-color: rgb(234, 0, 41);
    color: white;
  }


@media  screen and (max-width: 720px) {
    .table{
        width: 50%;
        overflow-x: scroll;
    }
}